@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-slate-900 text-white;
  font-family: 'Nunito', sans-serif;
  background-image: url('./img/background.jpg');
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
}